@model ChatRoom.Models.ChatPanel


@{
    ViewBag.Title = "Index";
}



<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewChat.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewChat.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Chats) {
    
    <tr>
        <td id="td01">
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
    </tr>       
}

</table>
<style>
    td#td01{
        font-size: 150%;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Chat</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewChat.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewChat.Message)
            @Html.ValidationMessageFor(model => model.NewChat.Message)
        </div>

        <p>
            <input type="submit" value="Post" />
        </p>
    </fieldset>
}
@*<p>
    < input type = "submit"  value = "Refresh Page"  onClick = window.location.reload()>
</p>

<script>
</script>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
